@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "@tailwindcss/typography";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #d2a77c;
    --color-primary-light: #dec0a1;
    --color-primary-dark: #b88d5f;

    --color-secondary: #0e0e0c;
    --color-secondary-medium: #1e2939;
    /* --color-secondary: #1e2939;
    --color-secondary-medium: #0e0e0c; */

    --color-secondary-light: #364153;
}
